;; shadow-cljs configuration
{:source-paths
 ["src/cljc/"
  "src/cljs/"
  "test/cljs/"]

 :dependencies
 [[reagent "0.9.0-rc1"]
  [cider/cider-nrepl "0.22.0-beta8"]]

 :nrepl
 {:port 8202}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:entries [crystal-key-item-randomizer.frontend]}}
   :output-dir "public/assets/js"
   :asset-path "/assets/js"}}}
