;; shadow-cljs configuration
{:source-paths
 ["src/cljc/"
  "src/cljs/"
  "test/cljs/"]

 :dependencies
 [[reagent "0.9.0-rc1"]
  [cider/cider-nrepl "0.22.0-beta8"]]

 :nrepl
 {:port 8202}

 :builds {:dev {:target :browser
                :modules {:main
                          {:entries [crystal-key-item-randomizer.frontend]
                           :depends-on #{:cljs-base}}

                          :tracker
                          {:entries [crystal-key-item-randomizer.tracker]
                           :depends-on #{:cljs-base}}

                          :cljs-base
                          {:entries []}}
                :output-dir "resources/public/assets/js"
                :asset-path "/assets/js"}

          :test {:target    :browser-test
                 :test-dir  "test/resources/public"
                 :devtools  {:http-port          8021
                             :http-root          "test/resources/public"}}}}
