;; shadow-cljs configuration
{:source-paths
 ["src/cljs/"
  "test/cljs/"]

 :dependencies
 []

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn crystal-key-item-randomizer.frontend/init}}
   :output-dir "public/assets/js"
   :asset-path "/assets/js"}}}
