<p>Your seed: <input id="seed" type="text"/></p>

<p>
  You may input your own seed value greater than or equal to 0 and
  less than or equal to 2147483647.
</p>

<div id="upload-download-row" class="jumbotron">
  <label class="btn btn-default btn-file">
    Select ROM File
    <input id="rom-file" type="file" accept=".gbc" style="display: none;">
  </label>
</div>
